<% if user_signed_in? && @tuitt.user_id == current_user.id %>
  <div class="container m-2">
    <div class="row">
      <h1>Editing Tuitt</h1>

      <%= render 'form', tuitt: @tuitt %>

      <%= link_to 'Show', @tuitt %> |
      <%= link_to 'Back', root_path %>
    </div>
  </div>
<% else %>
  <h2 class="text-danger text-center mt-5"> Your are not allowed to edit this tuitt.</h2>
<% end %>