<% if user_signed_in? && @tuitt.user_id == current_user.id %>
  <div class="container my-5">
    <div class="row">
      <div class="col-6 text-center mx-auto">
        <h1>Editing Tuitt</h1>

        <%= render 'form', tuitt: @tuitt %>

        <%= link_to 'Show', @tuitt %> |
        <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
<% else %>
  <h2 class="text-danger text-center mt-5"> Your are not allowed to edit this tuitt.</h2>
<% end %>